In [119]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn import tree

In [120]:
balance_data = pd.read_csv('Decision_Tree_ Dataset.csv', sep=',', header=0)
balance_data

       1      2    3     4    sum Unnamed: 5
0    201  10018  250  3046  13515        yes
1    205  10016  395  3044  13660        yes
2    257  10129  109  3251  13746        yes
3    246  10064  324  3137  13771        yes
4    117  10115  496  3094  13822        yes
..   ...    ...  ...   ...    ...        ...
995  413  14914  523  4683  20533         No
996  359  14423  927  4838  20547         No
997  316  14872  613  4760  20561         No
998  305  14926  897  4572  20700         No
999  168  14798  834  4937  20737         No

[1000 rows x 6 columns]

In [121]:
print("Dataset:: ")
balance_data.head()

Dataset::

     1      2    3     4    sum Unnamed: 5
0  201  10018  250  3046  13515        yes
1  205  10016  395  3044  13660        yes
2  257  10129  109  3251  13746        yes
3  246  10064  324  3137  13771        yes
4  117  10115  496  3094  13822        yes

In [122]:
X = balance_data.values[:, 1:5]
Y = balance_data.values[:,0]

In [123]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.3, random_state = 100)

In [124]:
# Define the threshold
threshold = 400

# Convert the continuous target variable into binary classes for both Y_train and Y_test
Y_train_binary = np.where(Y_train > threshold, 1, 0)
Y_test_binary = np.where(Y_test > threshold, 1, 0)

# Verify the unique values after conversion for both Y_train and Y_test
print(np.unique(Y_train_binary))
print(np.unique(Y_test_binary))

clf_entropy = DecisionTreeClassifier(criterion='entropy', random_state=100, max_depth=3, min_samples_leaf=5)
clf_entropy.fit(X_train, Y_train_binary)

Y_pred_en = clf_entropy.predict(X_test)

print("Accuracy:", accuracy_score(Y_test_binary, Y_pred_en) * 100)

[0 1]
[0 1]
Accuracy: 73.0

In [125]:
np.unique(Y_train)

array([100, 102, 104, 107, 108, 109, 110, 111, 113, 114, 115, 116, 117,
       118, 119, 120, 121, 122, 123, 124, 125, 127, 128, 129, 130, 131,
       133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145,
       146, 148, 149, 150, 151, 154, 155, 156, 157, 158, 160, 161, 162,
       165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177,
       178, 179, 180, 182, 183, 185, 186, 187, 188, 189, 190, 191, 193,
       194, 195, 196, 197, 198, 199, 201, 202, 203, 204, 205, 206, 208,
       209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221,
       223, 224, 225, 226, 227, 228, 230, 231, 232, 233, 234, 235, 238,
       239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251,
       252, 253, 254, 255, 257, 258, 259, 260, 261, 262, 264, 266, 267,
       268, 269, 270, 271, 272, 274, 277, 278, 279, 280, 281, 283, 284,
       285, 286, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298,
       300, 301, 302, 304, 305, 306, 308, 309, 310, 311, 312, 315, 316,
       318, 319, 320, 322, 323, 324, 325, 326, 328, 329, 330, 331, 332,
       334, 335, 336, 337, 338, 339, 341, 342, 343, 344, 345, 349, 350,
       351, 352, 354, 355, 356, 358, 359, 360, 361, 362, 363, 364, 365,
       366, 367, 369, 371, 372, 374, 375, 376, 378, 382, 383, 385, 386,
       387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 398, 399, 400,
       401, 403, 404, 405, 406, 407, 408, 410, 411, 412, 413, 414, 415,
       416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 428, 429,
       430, 432, 433, 434, 435, 436, 438, 440, 442, 443, 444, 445, 448,
       449, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462,
       464, 466, 467, 468, 469, 471, 472, 473, 474, 476, 477, 478, 479,
       481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 492, 493, 494,
       496, 498], dtype=object)

In [126]:
Y_pred_en = clf_entropy.predict(X_test)
print(Y_pred_en)

[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0]